@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
body{
    background-color: #c3e3fd;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'outifit', sans-serif;
}
body{
    height: 200vh;
}
nav.menu-lateral{
    width: 80px;
    height: 100%;
    background: #171a4a;
    padding: 40px 0 40px 1%;
    box-shadow: black 3px 0 0;

    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .2s;
}
nav.menu-lateral:hover{
    width: 300px;
}
.btn-expandir{
    width: 100%;
    padding-left: 12px;
}
.btn-expandir i{
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}
ul{
    height: 100%;
    list-style-type: none;
}
ul li.item-menu{
    transition: 1s;
}
ul li.item-menu:hover{
    background: #9acef8;
}
ul li.item-menu a{
    color:white;
    text-decoration: none;
    font-size: 20px;
    padding: 30px 6%;
    display: flex;
    margin-bottom: 40px;
    line-height: 40px;
}
ul li.item-menu a .link{
    margin-left: 40px;
}
ul li.item-menu a .icon i{
    font-size: 24px;
    margin-left: 10px;
} 

.titulo{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30PX;
    text-align: center; 
    margin-top: 100px;
}
.container {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
.foto4{
    margin-top: 20%;
    margin-left: 13%;
}

.card {
    color: white;
  background-color: #171a4a;
  width: 300px;
  height: 400px;
  border-radius: 12px;
  padding: 20px;
  font-size: 1.5em;
  text-align: center;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  margin-left: 5%;
  margin-top: 10%;
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.card h2 {
  font-weight: bold;
  margin-bottom: 15px;
}

.card p {
  font-size: 16px;
  line-height: 1.4;
}
